.header {
  background-color: rgb(192, 7, 7);
  height: 150px;
  padding: 30px;
  color: #fff;
}

.headerTitle {
  font-size: 2em;
  text-align: center;
}

.headerText {
  font-size: large;
  text-align: center;
}
image {
  object-fit: contain;
}